/* :root {
   -- 
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color:rgb(234, 162, 232);
    --second-bg-color:#112;
    --text-color:#fff;
}

html {
    font-size: 62.5;
    overflow-x: hidden;
}

::-webkit-scrolbar- {
    width: 15px;

}

::-webkit-scrollbar-thumb {
    background-color: crimson;
    width: 40px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header Section code */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.logo a span {
    color: rgba(126, 12, 164, 0.782);
    transition: all 0.3s ease;
}

.menu {
    display: flex;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
}

button span {
    color: #fff; 
}

.menu li {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #fff;
}

li>a>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: "stack";
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

li>a>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;
}

li>a>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}

li > a > button span {
    transition: transform 0.3s ease, color 0.3s ease;
}

li > a > button:focus-visible > span:first-of-type,
li > a > button:hover > span:first-of-type {
    transform: scale(0);
}

li > a > button:focus-visible > span:last-of-type,
li > a > button:hover > span:last-of-type {
    transform: scale(1);
    color: rgba(126, 12, 164, 0.782);
}

.menu a {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;   
}

.home {
    display: flex;
    align-items: center;   
}

.home-img img {
    width: 25vw;
    margin-left: 100px;
    border: 3px solid black;
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

/*  */
@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
    35% {
        border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
    }

    65% {
        border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
}

